@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 
    .task-input{
        @apply bg-white/70 border-4 border-double text-black border-t-orange-500 border-l-orange-500
        border-b-red-600 border-r-red-600 p-4 text-lg outline-none rounded-lg
        focus:border-t-red-600 focus:border-l-red-600 focus:border-b-orange-500 hover:border-r-orange-500
        duration-150 focus:bg-white
    }
    .gradient-currents{
        @apply bg-gradient-to-bl  from-red-600 via-orange-500 to-yellow-400
    }
    .task-buttons{
        @apply px-6 py-3 text-lg rounded-lg text-white duration-300 hover:-translate-y-1 hover:scale-125
    }
    
}   


